<% if (typeof locals.err !== 'undefined') { %>
<div class="text-center p-0 mb-2 msg-box">
  <div
    class="bg-red-500 border-t-2 border-red-800 rounded-b text-white px-4 py-1 shadow-md flex justify-between"
    role="alert"
  >
    <div class="">
      <div class="py-1">
        <svg
          class="fill-current h-6 w-6 text-white mr-4 inline-block"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
        >
          <path
            d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"
          ></path>
        </svg>
        <p class="inline-block"><%= locals.err %></p>
      </div>
    </div>
    <button class="text-white msg-button">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-8 w-8"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"
        ></path>
      </svg>
    </button>
  </div>
</div>
<% } %>
