<div class="text-center p-0 mb-2 errs-box">
  <% if (typeof locals.errs !== 'undefined') { %>
  <div role="alert" class="my-8 text-left">
    <div
      class="bg-red-500 text-white font-bold rounded-t px-4 py-2 text-center flex justify-between"
    >
      <p>Errors</p>
      <button class="text-white close-errs-button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-8 w-8"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12"
          ></path>
        </svg>
      </button>
    </div>
    <div
      class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700"
    >
      <% errs.forEach(err => { %>
      <p class="text-red-500"><%= err %></p>
      <% }) %>
    </div>
  </div>
  <% } %>
</div>
