@tailwind base;
@tailwind components;
@tailwind utilities;

@import './typeface.css';

body {
  font-family: 'lato', sans-serif !important;
}

input {
  padding: 8px !important;
  border: 1px solid rgb(156, 163, 175);
  border-radius: 5px !important;
}

.search-field input[type='text'] {
  padding: 5px !important;
  border: solid 1px rgb(156, 163, 175) !important;
}

.chosen-choices {
  border-radius: 0.25rem !important;
}

.chosen-results {
  height: 150px !important;
  padding: 4px !important;
}

.choice-delete-button {
  color: red;
  padding-left: 10px;
}

.dataTables_length,
.dataTables_filter,
.dataTables_info,
.dataTables_processing,
.dataTables_paginate {
  margin: 0.7rem;
}

.dt-table {
  width: 100% !important;
}

.dt-table tr {
  cursor: pointer;
  border: 1px solid rgb(223, 223, 223);
  border-collapse: collapse;
  text-align: center;
}

.paginate_button {
  padding: 5px !important;
  border-radius: 5px !important;
}

.dataTables_wrapper {
  position: static !important;
}

.nex-modal-show,
.nex-modal-create {
  top: 90px;
}

.nex-modal-show {
  left: 30%;
  width: 40%;
}

.nex-modal-create {
  left: 10%;
}

@layer components {
  .dt-table {
    @apply mt-4 rounded;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid rgb(156, 163, 175);
  }

  .dt-table thead {
    @apply my-4 p-4 bg-nex text-white h-12;
  }

  .dt-table tbody {
    @apply my-4 p-4 bg-nex h-12 text-gray-800;
  }

  .dt-table tr {
    @apply h-12;
  }

  .dt-table select {
    @apply border rounded;
  }

  .paginate_button {
    @apply rounded;
  }
}
