<%- include('../partials/header'); %>
<!-- create -->

<!-- show attribute details -->
<table id="groups-table" class="display dt-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Attributes Count</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
<%- include('./create'); %>

<!-- footer -->
<%- include('../partials/footer'); %>
