<%- include('../partials/header'); %>
<table id="attr-table" class="display dt-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Type</th>
      <th>Slug</th>
      <th>Groups</th>
      <th>Labels</th>
      <th>Choices</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

<%- include('../partials/attr_modal'); %>
<!-- show attribute details -->
<%- include('../partials/attr_show'); %>
<!-- footer -->
<%- include('../partials/footer'); %>
